<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460357357516-r1ak543gos3l8t68gndb0reh52ecumda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460357357516-r1ak543gos3l8t68gndb0reh52ecumda</string>
	<key>API_KEY</key>
	<string>AIzaSyCltrENruLFogfsucRRozexrg94LGkg2EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>460357357516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.dasandal.sandalApp</string>
	<key>PROJECT_ID</key>
	<string>sandal-database</string>
	<key>STORAGE_BUCKET</key>
	<string>sandal-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460357357516:ios:72ad68217ff7e3c0</string>
	<key>DATABASE_URL</key>
	<string>https://sandal-database.firebaseio.com</string>
</dict>
</plist>